# Homolog
cd /home/drdown/sdcurve
git fetch origin
git pull origin develop
docker-compose -f /home/drdown/sdcurve/docker-compose.yml down
docker-compose -f /home/drdown/sdcurve/docker-compose.yml up --build -d

# Production
cd /home/drdown/sdcurve
git fetch origin
git pull origin master
echo y | docker-compose -f /home/drdown/sdcurve/docker-compose.deploy.yml rm --stop sdcurve-nginx
echo y | docker-compose -f /home/drdown/sdcurve/docker-compose.deploy.yml rm --stop sdcurve-prod
docker-compose -f /home/drdown/sdcurve/docker-compose.deploy.yml up --build -d
docker exec sdcurve-prod python3 manage.py makemigrations
docker exec sdcurve-prod python3 manage.py migrate
